<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Bio
    </title>
</head>

<body>

    <h1>
        Este soy yo
    </h1>

    <a href="../index.html">
        Regresar
    </a>
    <article>
        <p>
            Google:
        </p>
        <blockquote cite="https://scholar.google.com/">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatem nobis fuga vero officiis
            similique odit officia, sit vitae voluptate quaerat et velit quod aut, ab earum corporis nisi tempore!
        </blockquote>
    </article>

</body>

</html>