@font-face {
    font-family: "MiFuente";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "MiFuente", sans-serif;
}

h1 {
    background-color: green;
}

p strong {
    background-color: aquamarine;
}

p {
    background-color: darkolivegreen;
}

.fondo_color {
    color: white;
    background-color: darkslateblue;
    
}

.padding_p {
    color: rgb(255, 255, 255);
    background-image: url("../img/9054532.png");
    background-size: 200px ;
    padding: 60px;
}

.border_p {
    border: 20px;
    border-style: double;
    border-radius: 20px;
    border-color: white;


}

.fondo_color:hover {
    color: black;
    background-color: chocolate;
}

p:hover {
    background-color: lightskyblue;
}

a:hover {
    background-color: chartreuse;
}

#ir_footer {
    color: white;
    background-color: blueviolet;
}

#ir_footer:hover {
    color: black;
    background-color: chartreuse
}

li:first-child {
    background-color: blue;
}

li:last-child {
    color: white;
    background-color: black;
}

.h2_sombra {
    text-shadow: 3px 3px 5px #7209b7;
}

.text_centrado {
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.text_subrayado {
    text-decoration: underline;
}

.text_mayusculas {
    text-transform: uppercase;
}
