@font-face {
    font-family: "MiFuente";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "MiFuente", sans-serif;
}

h1 {
    background-color: green;
}

p strong {
    background-color: aquamarine;
}

p {
    background-color: darkolivegreen;
}

.fondo_color {
    color: white;
    background-color: darkslateblue;

}

.padding_p {
    color: rgb(255, 255, 255);
    background-image: url("../img/9054532.png");
    background-size: 200px;
    padding: 60px;
}

.border_p {
    border: 20px;
    border-style: double;
    border-radius: 20px;
    border-color: white;


}

.fondo_color:hover {
    color: black;
    background-color: chocolate;
}

p:hover {
    background-color: lightskyblue;
}

a:hover {
    background-color: chartreuse;
}

#ir_footer {
    color: white;
    background-color: blueviolet;
}

#ir_footer:hover {
    color: black;
    background-color: chartreuse
}

li:first-child {
    background-color: blue;
}

li:last-child {
    color: white;
    background-color: black;
}

.h2_sombra {
    text-shadow: 3px 3px 5px #7209b7;
}

.text_centrado {
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.text_subrayado {
    text-decoration: underline;
}

.text_mayusculas {
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blueviolet;
    padding: 10px;
    gap: 20px;
}

.container>div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;

}

.nav_grid {
    grid-column-start: 1;
    grid-column-end: 4;
}

.content_grid {
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar_grid {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.footer_grid{
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.flex_container{
    display:flex ;
    background-color: cadetblue;
    justify-content: center;
    flex-direction: row;
}

.flex_container div{
    background-color: burlywood;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

@media print{
    .cover{
        display: none;
    }

    blockquote{
        font-size: 50px;
    }
}

@media (min-width: 769px) and (max-width: 1024px)  {
    .cover{
        width: 50%;
        background-color: aqua;
    }
}

@media (min-width: 481px) and (max-width: 768px)  {
    .cover{
        width: 80%;
        background-color: chartreuse;
    }
}

@media (min-width: 320px) and (max-width: 480px)  {
    .cover{
        width: 100%;
        background-color: darkolivegreen;
    }
}